<a href="https://colab.research.google.com/github/AmrHassanKhalaf/ITI_Camp_AI/blob/main/LAB_1_ITI_Summer_Camp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q_1

In [7]:
num1=3
num2=4
num3=5

a=num1+num2
b=num3-num1
c=num1*num2+num3
d=num1*(num2+num3)
e=num3/num1
f=num3//num1
g=num3%num1
print(f"OUTPUT: {a,b,c,d,e,f,g}")

OUTPUT: (7, 2, 17, 27, 1.6666666666666667, 1, 2)

## Q_2

In [9]:
x=1
y=2
z=3
g=4
A=x+y*z/g
B=y**z
print(f"OUTPUT: {A,B}")

OUTPUT: (2.5, 8)

## Q_3

In [17]:
str_a="Python "
str_b="is a "
str_c="times fun language "
num="1000 "

str_ab=str_a+str_b+num+str_c
print(f"OUTPUT: {str_ab}")

OUTPUT: Python is a 1000 times fun language

In [18]:
for i in range(1,10):
    print(str_a)

Python
Python
Python
Python
Python
Python
Python
Python
Python

## Q_4

In [21]:
num_1=-5
num_2=3.2
num_3=5.7
num_4=625

a=abs(num_1)
b=round(num_2)
c=round(num_3)
d=pow(num_4,.5)
print(f"OUTPUT: {a,b,c,d}")

OUTPUT: (5, 3, 6, 25.0)

## Q_5

In [37]:
n_1=int(input("Enter number_1: "))
n_2=int(input("Enter number_2: "))
print(f"+: {n_1+n_2}")
print(f"-: {n_1-n_2}")
print(f"*: {n_1*n_2}")
print(f"/: {n_1/n_2}")

Enter number_1: 5
Enter number_2: 4
+: 9
-: 1
*: 20
/: 1.25

# PDF Q

Odd or Even

In [24]:
A=int(input("Enter your number: "))
if A//2==0:
  print("Even")
else:
  print("Odd")

Enter your number: 5
Odd

Pass or Fail

In [ ]:
B=int(input("Enter your marks: "))
if B>=50:
  print("Pass")
else:
  print("Fail")

Largest of 3 numbers

In [25]:
C=int(input("Enter number_1: "))
D=int(input("Enter number_2: "))
E=int(input("Enter number_3: "))

print(max(C,D,E))

Enter number_1: 4
Enter number_2: 8
Enter number_3: 9
9

Counting with for

In [27]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Grade Calculator

In [ ]:
x=int(input("Enter your Mark: "))
if x>=90:
  print("A")
elif x>=80:
  print("B")
elif x>=70:
  print("C")
elif x>=60:
  print("D")
else:
  print("F")

Multiplication Table

In [28]:
u=int(input("Enter your number: "))

for i in range(1,11):
  print(f"{u}*{i}={u*i}")

Enter your number: 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

Sum of Even Numbers

In [35]:
Sum=0
for i in range(1,51):
  if i%2==0:
    Sum=Sum+i
print(Sum)

650

Factorial with while

In [38]:
s=int(input("Enter your number: "))
i=1
fact=1
while i<=s:
  fact=fact*i
  i=i+1
print(fact)

Enter your number: 5
120

In [36]:
v=int(input("The number need factorial"))
fact=1
for i in range(1,v+1):
  fact=fact*i
print(fact)

The number need factorial5
120

# py Function